.profile-card {
  display: flex;
  flex-direction: row;
  background-color: #1d3557;
  margin: 5px;
  align-items: center;
  border-radius: 5px;
  color: #f1faee;
  border: 2px solid #1d3557;
  width: 375px;
  cursor: pointer;
}

.profile-card img {
  border-radius: 5px;
}

.profile-card-desc {
  text-align: left;
  padding: 10px;
}

.profile-card-icon {
  margin-right: 5px;
  vertical-align: middle;
}
